.card {
    border-top-left-radius: 19px 80px;
    border-top-right-radius: 60px 17px;
    border-bottom-right-radius: 178px 45px;
    border-bottom-left-radius: 45px 91px;
    overflow: hidden;
    border: 2px solid #0e2231;
}