.dropdown-menu.show{
    overflow: hidden;
    border: solid 2px black;

    border-top-left-radius: 355px 40px;
    border-top-right-radius: 40px 205px;
    border-bottom-right-radius: 225px 40px;
    border-bottom-left-radius: 15px 255px;
}
