@import url('https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC');

$global_font_size: 20px;
$header_font: 'Patrick Hand SC'; 
$body_font: 'Neucha';

body {
    font-family: $body_font, sans-serif;
}