input.form-control, select.form-control, textarea.form-control {
  border: 2px solid #41403e;
  border-top-left-radius: 255px 45px;
  border-top-right-radius: 45px 224px;
  border-bottom-right-radius: 225px 45px;
  border-bottom-left-radius: 45px 255px;
}